@import 'tailwindcss';

@font-face {
  font-family: 'Geist';
  src: url('/node_modules/geist/dist/fonts/geist-sans/Geist-Variable.woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/node_modules/geist/dist/fonts/geist-sans/Geist-Italic[wght].woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: oklch(0.129 0.042 264.7); /* gray-950 */
  --color-text: oklch(0.968 0.02 230); /* blue-tinted gray-100 */
  --color-surface: oklch(0.39 0.06 256.27);
  --color-land: #4aa66b;
}

@theme inline {
  --color-*: initial;
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-surface: var(--color-surface);
  --color-land: var(--color-land);
}

html {
  font-family: 'Geist', system-ui, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

.lucide {
  width: 1em;
  height: 1em;
  stroke-width: 2;
  display: inline-block;
}

@utility interactive-opacity {
  transition: opacity 150ms ease-in-out;
  &:hover {
    opacity: 0.7;
  }
}
